{{#if quizzingNow}}

{{currentQuestion}}

<form>
  <label for="answer">Which Movie is This?</label>
  {{input value=providedAnswer id="providedAnswer"}}
  <button {{action 'submitAnswer'}} type="button">Answer</button>
</form>
