.quizImage {
  max-height: 400px;
}

.noBullet {
  list-style-type: none;
  margin-right: 35px;
}

.thumbnail {
  max-height: 100px;
  max-width: auto;
  border: red;
}

.score {
  text-align: right;
}
.shown{
  display: none;
  height: 150px;
  width: 70px;

}
.presiPhoto{
  width: 50px;
}
