.quizImage {
  max-height: 400px;
}

.noBullet {
  list-style-type: none;
  margin-right: 35px;
}

.thumbnail {
  max-height: 100px;
  max-width: auto;
  border: red;
}

.score {
  text-align: right;
}
.shown{
  display: none;
  height: 150px;
  width: 70px;

}
.presiPhoto{
  width: 50px;
}
.timerDisplay{
  border: 5px solid black;
  float: right;
  text-align: center;
  font-size: 20px;
  border-radius: 6px;
  padding: 5px;
  width: 100%;
  margin-top: 20px;
  display: none;
}
