
.quizImage {
  max-height: 400px;
}

.noBullet {
  list-style-type: none;
  margin-right: 35px;
}

.thumbnail {
  max-height: 100px;
  max-width: auto;
  border: red;
}

.score {
  text-align: right;
}
.shown{
  display: none;
  height: 150px;
  width: 100px;

}

.not-shown{
  /*display: none;*/
  height: 150px;
  width: 70px;

}
.presiPhoto{
  max-height: 75px;
  width: 70px;
}
.timerDisplay{
  border: 5px solid black;
  float: right;
  text-align: center;
  font-size: 20px;
  border-radius: 6px;
  padding: 5px;
  width: 100%;
  margin-top: 20px;
  display: none;
}
.artTimerDisplay{
  border: 5px solid black;
  float: right;
  text-align: center;
  font-size: 20px;
  border-radius: 6px;
  padding: 5px;
  width: 100%;
  margin-top: 20px;
  display: none;
}

.movieTimerDisplay{
  border: 5px solid black;
  float: right;
  text-align: center;
  font-size: 20px;
  border-radius: 6px;
  padding: 5px;
  width: 100%;
  margin-top: 20px;
  margin-left: 50px;
  display: none;
}

.presidentTimerDisplay{
  border: 5px solid black;
  float: right;
  text-align: center;
  font-size: 20px;
  border-radius: 6px;
  padding: 5px;
  width: 100%;
  margin-top: 20px;
  margin-left: 50px;
  display: none;
}

.presiButton{
  margin-left: 42%;
  margin-top: 5px;
}

.presiTimerBox{
  text-align: center;
}

#guess{
  text-align: center;
}

#presiLoop{
  height: 90vh;
  overflow:scroll;
}

#presiDoneButton{
  display: none;
  margin-top: 5px;
  text-align:
}

::-webkit-scrollbar {
  display: none;
}
