<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <span class="compHeader"><h1>Computer Quiz</h1></span>
    {{question-display results=model transitionToNew='transitionToNew'}}
  </div>
</div>
