<h1 class='page-header'>Welcome to Quizibo</h1>

<div class="row visabilityBox directions">
    <h3>Directions</h3>
    <li class="mainBullet">Enter your name below</li>
    <li class="mainBullet">You will be directed to one of four random quizes</li>
    <li class="mainBullet">Make your way through all four to win</li>
    <button class='btn btn-success' {{action 'initialTransition'}}>Start Game</button>
</div>
