<h1 class='page-header'>Amazing Quiz</h1>
<h3>Directions</h3>
<li>Enter your name below</li>
<li>You will be directed to one of four random quizes</li>
<li>Make your way through all four to win</li>

{{input class="form-control" name=name value=name id="name"}}
<button class='btn btn-success' {{action 'initialTransition'}}>Start Game</button>
